@model SalesWebMvc.Models.Seller

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<h4>Seller</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">                
                <label asp-for="Name" class="col-form-label mt-4"></label>
                <input asp-for="Name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">                
                <label asp-for="Email" class="col-form-label mt-4"></label>
                <input asp-for="Email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">                
                <label asp-for="BirthDate" class="col-form-label mt-4"></label>
                <input asp-for="BirthDate" class="form-control" placeholder="BirthDate">
            </div>
            <div class="form-group">                
                <label asp-for="BaseSalary" class="col-form-label mt-4"></label>
                <input asp-for="BaseSalary" class="form-control" placeholder="BaseSalary">
            </div>
            <hr />
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary">Create</button>
                <!--<input type="submit" value="Create" class="btn btn-primary"/>-->
            </div>
        </form>
    </div>
</div>


